<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">
	<script
	    src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous"></script>
	<script src="static/semantic/semantic.min.js"></script>

	<link rel="import" href="static/entity/view.html">
	<link rel="import" href="static/entity/item_tpl.html">
    </head>
    <body>
	<div id="ddd" style="width:40%;height:50%">
	</div>
    </body>
    <script type="text/javascript" src="static/entity/view.js"></script>
    <script type="text/javascript">
     import_entity_view("static/entity/view.html");
     attach_entity_view_to("#ddd");
    </script>
</html>
